.button {
	margin-right: 90px;

	border: none;
	width: 20%;
	min-height: 60px;
	cursor: pointer;
	background-color: #FC9B27;
	font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
	color: #fff;
}