.advantage-card {
	display: grid;
	grid-template-columns: 56px 200px 200px;
	grid-template-rows: 28px 28px 150px;
}

.advantage-card img {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	
}

.advantage-card span {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
}

.advantage-card h1 {
	grid-column: 2 / 4;
	grid-row: 2 / 3;
}

.advantage-card p {
	grid-column: 1 / -1;
	grid-row: 3 / 4;
}